/* src/assets/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



#app {
    margin: 0 !important;
    padding: 0 !important;
}


/* .formkit-messages{
    color: red;
} */

/* .formkit-no-files {
    display: none !important;
    visibility: hidden;
  } */


  .Toastify__toast-container--top-right {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    z-index: 9999;
  }
  
  /* Optional: Customize other positions if needed */
  .Toastify__toast-container--top-left {
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
    z-index: 9999;
  }
  
  .Toastify__toast-container--bottom-right {
    position: absolute !important;
    bottom: 10px !important;
    right: 10px !important;
    z-index: 9999;
  }
  
  .Toastify__toast-container--bottom-left {
    position: absolute !important;
    bottom: 10px !important;
    left: 10px !important;
    z-index: 9999;
  }