/* src/assets/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



#app {
    margin: 0 !important;
    padding: 0 !important;
}


/* .formkit-messages{
    color: red;
} */

/* .formkit-no-files {
    display: none !important;
    visibility: hidden;
  } */